{% include "dashboard/helpers/head.html" %}

{% include "dashboard/helpers/loggednav.html" %}

<div id="wrapper">

{% include "dashboard/helpers/messages.html" %}

	<div id="main">
		<h2>Manage Users</h2>
		<button class="btn btn-primary"><a class="newuser" href="users/new"> Add New</a></button>		
	</div>


	<table class="table table-striped">
		<tr>
	    	<th scope="col">Name</th>
	    	<th scope="col">Email</th> 
	    	<th scope="col">Created_at</th>
	    	<th scope="col">User_level</th>
	    	{%if user.user_level == 9 %}<th>Actions</th>{%endif%}
	  	</tr>

	  	
	  		{% for person in users %}
	  	<tr>
	  	
				<th scope="row"> <a href="users/show/{{person.id}}">{{person.first_name}} {{person.last_name}}</a> </th>
				<td>{{ person.email}} </td>
				<td>{{ person.created_at  }} </td>
				<td>{% if person.user_level == 9 %} Admin {%else%} Standard {%endif%}</td>
				
				{%if user.user_level == 9 %} 
				<td>
					<a href="users/edit/{{person.id}}">edit</a> | <a href="deleteuser/{{person.id}}">remove</a> 
			
				</td>
				{%endif%}
		</tr>	
		{% endfor %}
	</table>


{% include "dashboard/helpers/footer.html" %}
