{% include "dashboard/helpers/head.html" %}

{% include "dashboard/helpers/loggednav.html" %}

<h1>Edit my profile</h1>
<div>
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
</div>
<div class="container">
	<div class="row">
		<div class="col">
				<form action= "/updatemyprofile" method="POST">
			<!-- <form action="/updateid/{{user.id}}" method="POST"> -->
				<h4>Edit information</h4>
				{% csrf_token %}
					<div class="form-group">
				    	<label for="email">Email Address:</label>
				    	<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" name="email" value="{{ user.email }}">

				  	</div>

					<div class="form-group">
				    	<label for="first_name">First Name:</label>
				   		<input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" value="{{ user.first_name }}">
				  	</div>	

					<div class="form-group">
				    	<label for="last_name">Last Name:</label>
				   		<input type="text" class="form-control" id="first_name" placeholder="Last Name" name="last_name" value="{{ user.last_name }}">
				  	</div>	

				<!-- 	User Level: 
					
					<div class="form-group">
				    	<select name="user_level" class="form-control">
						<option value=1>normal</option>
						<option value=9>admin</option>
					</select>
				   		
				  	</div> -->
					<button type="submit" class="btn btn-primary">Save</button>
						
			</form>
		</div>

		<div class="col">
			
			<form action="/updatemypassword" method="POST">
				<h4>Change password</h4>
				{% csrf_token %}
				<div class="form-group">
			    	<label for="password">Password:</label>
			    	<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  	</div>

			  	<div class="form-group">
			    	<label for="confirm_password">Confirm Password:</label>
			   		<input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password">
			  	</div>	

			  	<button type="submit" class="btn btn-primary">Update Password</button>

			</form>
		</div>
		
	</div>
</div>
<br>

<div class="form-group">
 	<form action="/editdescription" method="POST">
			{% csrf_token %}
    <h4>Edit Description</h4>
    <textarea name="description" class="form-control" id="description" rows="3"></textarea> <br>

    <button type="submit" class="btn btn-primary">Save</button>
	</form>

</div>

{% include "dashboard/helpers/footer.html" %}