
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div id="wrapper">
		<div class="header">
			<p>Test App</p>
			<p>Home</p>
			<p><a href="/login">Sign In</a>
		</div>
		<div class="Main">
			<h1>Welcome to the Test</h1>
			<p>We're going to build a cool application using a MVC framework! This application was built with the folks!</p>
			<p><a href="/process">START</a></p>	
		</div>
		<div class="bottom">
			<div class="one">
				<h3>Manage Users</h3>
				<p>Using this application, you'll learn how to add, remove, and edit users for the application.</p
			</div>

			<div class="two">
				<h3>Leave messages</h3>
				<p>Users will be able to leave a message to another user using this application.</p>
			</div>

			<div class="three">
				<h3>Edit User information</h3>
				<p>Admins will be able to edit another user's information(email address, first name, last name, etc).</p>
			</div>

		</div>
	</div>
</body>
</html>